extends ../layout

block content
  body.black
  .page-header
    h3 Sign in
  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      .col-sm-offset-3.col-sm-6
        input(type='email', name='email', id='email', placeholder='Email', autofocus, required)
      .col-sm-offset-3.col-sm-6
        input(type='password', name='password', id='password', placeholder='Password', required)
    .form-group
      .col-sm-offset-3.col-sm-6
        button#submit.btn.btn-secondary(type='submit') Login
