extends layout

block content
  body.gallery
  #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
    .slides
    h3.title
    a.prev ‹
    a.next ›
    a.close ×
    a.play-pause
    ol.indicator

  .container
    .row
      .col-sm-16
        #links
          center
            a(href='/css/images/test.jpg')
              img(src='/css/images/test.jpg')
            a(href='/css/images/test2.jpg')
              img(src='/css/images/test2.jpg')
            a(href='/css/images/test3.jpg')
              img(src='/css/images/test3.jpg')
            a(href='/css/images/test4.jpg')
              img(src='/css/images/test4.jpg')
            a(href='/css/images/test5.jpg')
              img(src='/css/images/test5.jpg')
            a(href='/css/images/test6.jpg')
              img(src='/css/images/test6.jpg')
            a(href='/css/images/test7.jpg')
              img(src='/css/images/test7.jpg')
            a(href='/css/images/test8.jpg')
              img(src='/css/images/test8.jpg')
            a(href='/css/images/test9.jpg')
              img(src='/css/images/test9.jpg')
            a(href='/css/images/test10.jpg')
              img(src='/css/images/test10.jpg')
            a(href='/css/images/test11.png')
              img(src='/css/images/test11.png')
            a(href='/css/images/test12.jpg')
              img(src='/css/images/test12.jpg')
            a(href='/css/images/test13.jpg')
              img(src='/css/images/test13.jpg')
            a(href='/css/images/test14.jpg')
              img(src='/css/images/test14.jpg')
            a(href='/css/images/test15.jpg')
              img(src='/css/images/test15.jpg')
            a(href='/css/images/test16.jpg')
              img(src='/css/images/test16.jpg')

    script(src='js/blueimp-gallery.min.js')

    script.
      document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
      };
