extends layout

block content
  body.black
  #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
    .slides
    h3.title
    a.prev ‹
    a.next ›
    a.close ×
    a.play-pause
    ol.indicator

  .container
    .row
      .col-sm-16
        #links
          center
            each image in images
              a(href='/gallery/' + image)
                img(src='/gallery/' + image)

    script(src='/js/blueimp-gallery.min.js')

    script.
      document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
      };
